page-list-master {
img{
	width:100%;
	height:115px;
}
p{
	align:center;
	text-align:center;
	font-size: 8px;
	font-family:elephant;
}
.card-header-md + .card-content-md, .card-md .item + .card-content-md {
    border: 1px solid #99c9a6;
    padding-top: 0;
    
}

}
